$slider-button: #59698d;

.usercard-broker {
    border-bottom: 0.5px solid $slider-button;
    font-weight: 400;

    -webkit-transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);

   &:hover {
       background-color: rgba(0, 0, 0, 0.07);
   }
}

.usercard-broker__line {
    overflow: hidden;
    text-overflow: ellipsis;
}