$secondary-color: rgba(179, 179, 179, 0.28);

.rating-moverow {
    background-color: $secondary-color;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.295);
    height: fit-content;

    font-weight: bolder;

    -webkit-transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.rating-moverow::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.rating-moverow:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.rating-moverow:hover::after {
    opacity: 1;
    display: block;
}
