.preview-icon__container {
    position: relative;
}

.preview-icon__pok {
    width: 48px;
    height: 48px;
}

.preview-icon__shadow {
    width: 18px;
    height: 18px;

    position: absolute !important;
    right: -3px;
}
