//stage colors
$stage-34: red;
$stage-12: rgb(255, 115, 0);
$stage12: rgb(108, 167, 0);
$stage34: green;

@mixin stages {
    &0 {
        color: $stage-34 !important;
        font-weight: bold !important;
    }
    &C {
        color: $stage-34 !important;
        font-weight: bold !important;
    }
    &2 {
        color: $stage-12 !important;
        font-weight: bold !important;
    }
    &3 {
        color: $stage-12 !important;
        font-weight: bold !important;
    }
    &5 {
        color: $stage12 !important;
        font-weight: bold !important;
    }
    &6 {
        color: $stage12 !important;
        font-weight: bold !important;
    }
    &7 {
        color: $stage34 !important;
        font-weight: bold !important;
    }
    &8 {
        color: $stage34 !important;
        font-weight: bold !important;
    }
}

.eff-stage {
    @include stages;
}
