$tips-padding: 0.2rem;
$tips-font: 12pt;

.url__abstip {
    position: absolute;
    top: -120%;
    right: 35%;
    z-index: 900;

    padding-left: $tips-padding;
    padding-right: $tips-padding;

    font-size: $tips-font !important;
    font-weight: 400;

    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    border-radius: 3px;
}
