.user-shinybroker__title {
    font-weight: 400;
    font-size: 1.25rem;
}

$slider-button: #59698d;

.upoklist {
    min-height: 62px !important;
    max-height: 250px !important;

    border: 1px solid $slider-button;
    border-radius: 5px;

    overflow-y: auto;
}