.number-and-icon {
    position: relative;
    font-size: 115% !important;
    font-weight: 450 !important;
}

.number-and-icon__shadow {
    position: absolute !important;
    right: 0px;

    width: 18px;
    height: 18px;
}

.number-and-icon__pok {
    width: 48px;
    height: 48px;
}
