$tertiary-color: rgb(255, 255, 255);
$slider-button: #59698d;

.label-prepend {
    border-width: 0.8px !important;
    border-color: $slider-button !important;
    user-select: none;

    &--colored {
        background-color: $tertiary-color !important;
    }
}
