.pvp-reconstruction__timeline {
    border-radius: 13px;
    border: solid black;
    padding: 0.3rem;

    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    background-color: rgba(252, 252, 252, 0.93);
}
