$secondary-color: rgba(179, 179, 179, 0.28);

.ratingcard-body--font {
    font-size: 1.1em;
    font-weight: 400;
}

.ratingcard-body__icon {
    width: 18px;
    height: 18px;
}

.ratingcard-body__score {
    background-color: $secondary-color;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.295);
    height: fit-content;

    font-size: 1.2rem;
    font-weight: bold;
}
