.navuser--padding {
    padding-left: 10px !important;
}

.navuser__text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 860px) { 
    .navuser__text {
        width: 100px;
    }
 }

@media (max-width: 780px) { 
    .navuser__text {
        width: 80px;
    }
 }

@media (max-width: 767px) { 
    .navuser__text {
        width: 100%;
    }
 }