$primary-color: #eff0f1;

.privacy {
    max-width: 700px;

    background: $primary-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.privacy--text {
    text-align: justify !important;
    text-justify: inter-word !important;
}