.raid-list__separator {
    font-size: 1.7rem !important;
    font-weight: 600 !important;
    color: white;
    -webkit-text-stroke: 1px black;

    display: flex;
    align-items: center;
    text-align: center;
}

.raid-list__separator::before,
.raid-list__separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
}
.raid-list__separator::before {
    margin-right: 0.25em;
}
.raid-list__separator::after {
    margin-left: 0.25em;
}
