.close-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(121, 121, 121);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;

    &:focus {
        outline: none;
    }

    &:hover {
        color: rgb(255, 51, 0);
    }
}
