$slider-button: #59698d;

.country-box {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.country--prefix {
        border-width: 0.8px !important;
        border-color: $slider-button !important;
        font-size: 90% !important;

        border-radius: 0px 4px 4px 0px !important;
}

.country-input--alert {
    .__control {
        border: 1px solid #CF2C00 !important; 
        box-shadow: 0px 0px 5px rgba(207, 44, 0, 0.5) !important;
    }
}

.country-input__alert-text {
    font-weight: 400;
    color: #CF2C00 !important; 
}



