$primary-color: #eff0f1;
$slider-button: #59698d;
$slider-active: #b1dbe2;

.pveresult {
    background-color: $primary-color;
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    height: fit-content;
}
