.table-icon__container {
    min-width: 60px !important;
    max-width: 60px !important;
    position: relative;
}

.table-icon__shadow {
    width: 16px;
    height: 16px;

    position: absolute !important;
    right: 0px;
}
