$slider-button: #59698d;

.ushinycard {
    background-color: white;

    padding-left: 3px;
    padding-right: 3px;

    max-height: 36px;

    border-radius: 3px;
    border: 0.5px solid $slider-button;
    font-weight: bold;
}

.ushinycard__container {
    position: relative;
}

.ushinycard__pok {
    width: 36px;
    height: 36px;
}

.ushinycard__shiny {
    width: 18px;
    height: 18px;

    position: absolute !important;
    right: -3px;
}
