$slider-button: #59698d;

.row-wrap {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.295);
    border-width: 0.8px !important;
    border-color: $slider-button !important;
    font-size: 1.1em;
    font-weight: 400;
}
