.move__dps-block {
    font-size: 1.1em;
    font-weight: 400;
    border-radius: 3px 0px 0px 3px;
}

.move__main-block {
    border-radius: 0px 3px 3px 0px;
}

.move__title {
    font-size: 1.1em;
    font-weight: 400;
}

.move__stats {
    font-size: 0.85em;
    font-weight: 500;
}
