$slider-button: #59698d;


.importfile__select-button {
    border-width: 0.8px !important;
    border-color: $slider-button !important;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
