$slider-button: #59698d;

.landinp-input__text {
    font-size: 1.1rem;
    font-weight: 400;
}

.landinp-input {
    border-width: 0.8px !important;
    border-color: $slider-button !important;
}

.landinp-input:hover {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.landinp-input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.landinp-input--alert {
    border: 1px solid #CF2C00 !important; 
    box-shadow: 0px 0px 5px rgba(207, 44, 0, 0.5) !important;
}

.landinp-input__alert-text {
    font-weight: 400;
    color: #CF2C00 !important; 
}