.zero-pok__container {
    min-width: 60px !important;
    max-width: 60px !important;
    position: relative;
}

.zero-pok__pok {
    width: 48px;
    height: 48px;
}

.zero-pok__shadow {
    width: 16px;
    height: 16px;

    position: absolute !important;
    right: 0px;
}
