//type colors
$bug-color: #a8b820;
$dark-color: #42434e;
$dragon-color: #7038f8;
$electric-color: #ffcc00;
$fairy-color: #ee99ac;
$figting-color: #c02038;
$fire-color: #ff9933;
$flying-color: #78c8e4;
$ghost-color: #7546bb;
$grass-color: #78c850;
$ground-color: #b17d4a;
$ice-color: #98d8d8;
$normal-color: #9f9f9a;
$poison-color: #a040a1;
$psychic-color: #fe6688;
$rock-color: #adad85;
$steel-color: #496d92;
$water-color: #3590d1;

@mixin fills {
    &0 {
        fill: $bug-color !important;
    }
    &1 {
        fill: $dark-color !important;
    }
    &2 {
        fill: $dragon-color !important;
    }
    &3 {
        fill: $electric-color !important;
    }
    &4 {
        fill: $fairy-color !important;
    }
    &5 {
        fill: $figting-color !important;
    }
    &6 {
        fill: $fire-color !important;
    }
    &7 {
        fill: $flying-color !important;
    }
    &8 {
        fill: $ghost-color !important;
    }
    &9 {
        fill: $grass-color !important;
    }
    &10 {
        fill: $ground-color !important;
    }
    &11 {
        fill: $ice-color !important;
    }
    &12 {
        fill: $normal-color !important;
    }
    &13 {
        fill: $poison-color !important;
    }
    &14 {
        fill: $psychic-color !important;
    }
    &15 {
        fill: $rock-color !important;
    }
    &16 {
        fill: $steel-color !important;
    }
    &17 {
        fill: $water-color !important;
    }
}

.stats-trangle {
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.stats-trangle--fill {
    @include fills;
}
