$primary-color: #eff0f1;

.news-pages__title {
    background-color: #958ff1;
    background-image: linear-gradient(#97aaff, #8198fd, #778ffa);
    width: 100%;

    color: white;
    font-weight: bold;
    font-size: 3rem;

    padding-left: 1rem;
    padding-right: 0.5rem;

    border-radius: 2px 2px 0px 0px;
    border: 1.2px solid #748dfa;
}

.news-pages__body {
    background-color: $primary-color;
    border-radius: 4px;
}
