$link-color: #0039e6;

.uses-listelem__link {
    font-size: 1.1em;
    font-weight: 400;
    color: $link-color !important;
    &:hover {
        text-decoration: underline;
    }
}

.uses-listelem__icon {
    width: 36px;
    height: 36px;
}
