.button {
    background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
    border-radius: 5px;
    border: none;

    width: 250px;
    height: fit-content !important;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: center !important;
    cursor:pointer;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #FFFFFF;
}

.button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), 
    linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #88b8ff;
}

.button:active {
    box-shadow: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), 
    linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.button:disabled {
    cursor: default;
    background: linear-gradient(0deg, #C4C4C4, #C4C4C4), 
    linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
}

.button__item {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    align-self: center;
}