$slider-button: #59698d;

.upokcard {
    background-color: white;

    min-width: 178px;
    padding-left: 3px;
    padding-right: 3px;

    border-radius: 3px;
    border: 1px solid $slider-button !important;
    font-weight: bold;

    cursor: pointer;
}

.upokcard__container {
    position: relative;
}

.upokcard__pok {
    width: 48px;
    height: 48px;
}

.upokcard__shadow {
    width: 18px;
    height: 18px;

    position: absolute !important;
    right: -3px;
}
