$slider-button: #59698d;

.searchable-select {
    border-width: 0.8px !important;
    border-color: $slider-button !important;
    font-size: 90% !important;
}


.searchable-select__text{
    font-weight: 400 !important;
    font-size: 13pt !important;
    text-align: left;
}