div :focus {
    outline: none;
}

body {
    background: url("./background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
}
