//type colors
$bug-color: #a8b820;
$dark-color: #42434e;
$dragon-color: #7038f8;
$electric-color: #ffcc00;
$fairy-color: #ee99ac;
$figting-color: #c02038;
$fire-color: #ff9933;
$flying-color: #78c8e4;
$ghost-color: #7546bb;
$grass-color: #78c850;
$ground-color: #b17d4a;
$ice-color: #98d8d8;
$normal-color: #9f9f9a;
$poison-color: #a040a1;
$psychic-color: #fe6688;
$rock-color: #adad85;
$steel-color: #496d92;
$water-color: #3590d1;
//stage colors
$stage-34: red;
$stage-12: rgb(255, 115, 0);
$stage12: rgb(108, 167, 0);
$stage34: green;
//rating result colors
$rating0: rgb(181, 182, 182);
$rating1: rgb(139, 219, 195);
$rating2: rgb(68, 202, 157);
$rating-1: rgb(230, 141, 82);
$rating-2: rgb(224, 86, 32);
//interface color
$link-color: #0039e6;
$slider-button: #59698d;
$slider-active: #b1dbe2;

$primary-color: #eff0f1;
$secondary-color: rgba(179, 179, 179, 0.28);
$tertiary-color: rgb(255, 255, 255);
//tips styles
$tips-padding: 0.2rem;
$tips-font: 12pt;

@mixin energyGlow {
    &.glow0 {
        box-shadow: 0px 0px 0 $bug-color, 0px 0px 4px $bug-color, 0px 0px 8px $bug-color, 0px 0px 16px $bug-color;
    }
    &.glow1 {
        box-shadow: 0px 0px 0 $dark-color, 0px 0px 4px $dark-color, 0px 0px 8px $dark-color, 0px 0px 16px $dark-color;
    }
    &.glow2 {
        box-shadow: 0px 0px 0 $dragon-color, 0px 0px 4px $dragon-color, 0px 0px 8px $dragon-color,
            0px 0px 16px $dragon-color;
    }
    &.glow3 {
        box-shadow: 0px 0px 0 $electric-color, 0px 0px 4px $electric-color, 0px 0px 8px $electric-color,
            0px 0px 16px $electric-color;
    }
    &.glow4 {
        box-shadow: 0px 0px 0 $fairy-color, 0px 0px 4px $fairy-color, 0px 0px 8px $fairy-color,
            0px 0px 16px $fairy-color;
    }
    &.glow5 {
        box-shadow: 0px 0px 0 $figting-color, 0px 0px 4px $figting-color, 0px 0px 8px $figting-color,
            0px 0px 16px $figting-color;
    }
    &.glow6 {
        box-shadow: 0px 0px 0 $fire-color, 0px 0px 4px $fire-color, 0px 0px 8px $fire-color, 0px 0px 16px $fire-color;
    }
    &.glow7 {
        box-shadow: 0px 0px 0 $flying-color, 0px 0px 4px $flying-color, 0px 0px 8px $flying-color,
            0px 0px 16px $flying-color;
    }
    &.glow8 {
        box-shadow: 0px 0px 0 $ghost-color, 0px 0px 4px $ghost-color, 0px 0px 8px $ghost-color,
            0px 0px 16px $ghost-color;
    }
    &.glow9 {
        box-shadow: 0px 0px 0 $grass-color, 0px 0px 4px $grass-color, 0px 0px 8px $grass-color,
            0px 0px 16px $grass-color;
    }
    &.glow10 {
        box-shadow: 0px 0px 0 $ground-color, 0px 0px 4px $ground-color, 0px 0px 8px $ground-color,
            0px 0px 16px $ground-color;
    }
    &.glow11 {
        box-shadow: 0px 0px 0 $ice-color, 0px 0px 4px $ice-color, 0px 0px 8px $ice-color, 0px 0px 16px $ice-color;
    }
    &.glow12 {
        box-shadow: 0px 0px 0 $normal-color, 0px 0px 4px $normal-color, 0px 0px 8px $normal-color,
            0px 0px 16px $normal-color;
    }
    &.glow13 {
        box-shadow: 0px 0px 0 $poison-color, 0px 0px 4px $poison-color, 0px 0px 8px $poison-color,
            0px 0px 16px $poison-color;
    }
    &.glow14 {
        box-shadow: 0px 0px 0 $psychic-color, 0px 0px 4px $psychic-color, 0px 0px 8px $psychic-color,
            0px 0px 16px $psychic-color;
    }
    &.glow15 {
        box-shadow: 0px 0px 0 $rock-color, 0px 0px 4px $rock-color, 0px 0px 8px $rock-color, 0px 0px 16px $rock-color;
    }
    &.glow16 {
        box-shadow: 0px 0px 0 $steel-color, 0px 0px 4px $steel-color, 0px 0px 8px $steel-color,
            0px 0px 16px $steel-color;
    }
    &.glow17 {
        box-shadow: 0px 0px 0 $water-color, 0px 0px 4px $water-color, 0px 0px 8px $water-color,
            0px 0px 16px $water-color;
    }
}

@mixin backgrounds {
    &C0 {
        background-color: $bug-color !important;
        &.text {
            color: black;
        }
    }
    &C1 {
        background-color: $dark-color !important;
        &.text {
            color: white;
        }
    }
    &C2 {
        background-color: $dragon-color !important;
        &.text {
            color: white;
        }
    }
    &C3 {
        background-color: $electric-color !important;
        &.text {
            color: black;
        }
    }
    &C4 {
        background-color: $fairy-color !important;
        &.text {
            color: black;
        }
    }
    &C5 {
        background-color: $figting-color !important;
        &.text {
            color: white;
        }
    }
    &C6 {
        background-color: $fire-color !important;
        &.text {
            color: black;
        }
    }
    &C7 {
        background-color: $flying-color !important;
        &.text {
            color: black;
        }
    }
    &C8 {
        background-color: $ghost-color !important;
        &.text {
            color: white;
        }
    }
    &C9 {
        background-color: $grass-color !important;
        &.text {
            color: black;
        }
    }
    &C10 {
        background-color: $ground-color !important;
        &.text {
            color: black;
        }
    }
    &C11 {
        background-color: $ice-color !important;
        &.text {
            color: black;
        }
    }
    &C12 {
        background-color: $normal-color !important;
        &.text {
            color: black;
        }
    }
    &C13 {
        background-color: $poison-color !important;
        &.text {
            color: black;
        }
    }
    &C14 {
        background-color: $psychic-color !important;
        &.text {
            color: black;
        }
    }
    &C15 {
        background-color: $rock-color !important;
        &.text {
            color: black;
        }
    }
    &C16 {
        background-color: $steel-color !important;
        &.text {
            color: white;
        }
    }
    &C17 {
        background-color: $water-color !important;
        &.text {
            color: black;
        }
    }
}

@mixin texts {
    &T0 {
        color: black;
    }
    &T1 {
        color: white;
    }
    &T2 {
        color: white;
    }
    &T3 {
        color: black;
    }
    &T4 {
        color: black;
    }
    &T5 {
        color: white;
    }
    &T6 {
        color: black;
    }
    &T7 {
        color: black;
    }
    &T8 {
        color: white;
    }
    &T9 {
        color: black;
    }
    &T10 {
        color: black;
    }
    &T11 {
        color: black;
    }
    &T12 {
        color: black;
    }
    &T13 {
        color: black;
    }
    &T14 {
        color: black;
    }
    &T15 {
        color: black;
    }
    &T16 {
        color: white;
    }
    &T17 {
        color: black;
    }
}

@mixin fills {
    &C0 {
        fill: $bug-color !important;
        @include effects;
    }
    &C1 {
        fill: $dark-color !important;
        @include effects;
    }
    &C2 {
        fill: $dragon-color !important;
        @include effects;
    }
    &C3 {
        fill: $electric-color !important;
        @include effects;
    }
    &C4 {
        fill: $fairy-color !important;
        @include effects;
    }
    &C5 {
        fill: $figting-color !important;
        @include effects;
    }
    &C6 {
        fill: $fire-color !important;
        @include effects;
    }
    &C7 {
        fill: $flying-color !important;
        @include effects;
    }
    &C8 {
        fill: $ghost-color !important;
        @include effects;
    }
    &C9 {
        fill: $grass-color !important;
        @include effects;
    }
    &C10 {
        fill: $ground-color !important;
        @include effects;
    }
    &C11 {
        fill: $ice-color !important;
        @include effects;
    }
    &C12 {
        fill: $normal-color !important;
        @include effects;
    }
    &C13 {
        fill: $poison-color !important;
        @include effects;
    }
    &C14 {
        fill: $psychic-color !important;
        @include effects;
    }
    &C15 {
        fill: $rock-color !important;
        @include effects;
    }
    &C16 {
        fill: $steel-color !important;
        @include effects;
    }
    &C17 {
        fill: $water-color !important;
        @include effects;
    }
}

@mixin effects {
    &.attack {
        filter: drop-shadow(0px 0px 4px rgba(255, 0, 0, 0.753)) !important;
    }
    &.defence {
        filter: drop-shadow(0px 0px 4px rgba(24, 39, 248, 0.753)) !important;
    }
    &.attackdefence {
        filter: drop-shadow(0px 0px 4px rgb(255, 166, 0)) !important;
    }
}

@mixin stages {
    &C0 {
        color: $stage-34 !important;
        font-weight: bold !important;
    }
    &C1 {
        color: $stage-34 !important;
        font-weight: bold !important;
    }
    &C2 {
        color: $stage-12 !important;
        font-weight: bold !important;
    }
    &C3 {
        color: $stage-12 !important;
        font-weight: bold !important;
    }
    &C5 {
        color: $stage12 !important;
        font-weight: bold !important;
    }
    &C6 {
        color: $stage12 !important;
        font-weight: bold !important;
    }
    &C7 {
        color: $stage34 !important;
        font-weight: bold !important;
    }
    &C8 {
        color: $stage34 !important;
        font-weight: bold !important;
    }
}

@mixin matrColor {
    &R0 {
        background-color: $rating0 !important;
        color: rgba(24, 23, 23, 1) !important;
    }
    &R3 {
        background-color: $rating1 !important;
        color: rgba(24, 23, 23, 1) !important;
    }
    &R4 {
        background-color: $rating2 !important;
        color: rgba(24, 23, 23, 1) !important;
    }
    &R1 {
        background-color: $rating-1 !important;
        color: rgba(24, 23, 23, 1) !important;
    }
    &R2 {
        background-color: $rating-2 !important;
        color: rgba(24, 23, 23, 1) !important;
    }
}

.stage {
    @include stages;
}

.svgFills {
    @include fills;
}

.rateColor {
    @include matrColor;
}

.typeColor {
    @include backgrounds;
}

.textColor {
    @include texts;
}

//global rules
div :focus {
    outline: none;
}

.ReactCollapse--collapse {
    transition: height 200ms;
}

//fonts
.font80 {
    font-size: 80% !important;
}
.font90 {
    font-size: 90% !important;
}
.font95 {
    //stats
    font-size: 95% !important;
}
.tipfont {
    text-align: justify !important;
    text-justify: inter-word !important;
    font-weight: bolder;
}
.dexFont {
    font-size: 1.1em;
    font-weight: 400;
}
.dexFontSm {
    font-size: 0.85em;
    font-weight: 500;
}
.bigFont {
    font-size: 115% !important;
    font-weight: 450 !important;
}

//body
body {
    background: url("./background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 30px; //height of the footer
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;

    padding-bottom: 0px !important;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    color: black;
    text-align: center;
    width: 100%;
    font-size: 12px !important;
}

@media (max-width: 1200px) {
    body {
        padding-bottom: 40px;
    }
}
@media (max-width: 992px) {
    body {
        padding-bottom: 40px;
    }
}
@media (max-width: 768px) {
    body {
        padding-bottom: 50px;
    }
}

@media (max-width: 576px) {
    body {
        padding-bottom: 95px;
    }
}

//tips style
.infoTip {
    max-width: 15rem !important;
    font-size: $tips-font !important;
    text-align: justify !important;
    text-justify: inter-word !important;
    color: #ffffff !important;
    padding: $tips-padding !important;
    font-weight: normal !important;
}

.absoluteTip {
    position: absolute;
    top: -120%;
    right: 35%;
    z-index: 900;

    padding-left: $tips-padding;
    padding-right: $tips-padding;

    font-size: $tips-font !important;
    font-weight: 400;

    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    border-radius: 3px;
}

//status bar styles
.hpBar {
    position: relative;
    width: 150px;
    height: 25px;
    background-color: black;
    border: solid grey;

    font-size: 0.78rem;
    color: white;
    font-weight: bold;
}
.hpIndicator {
    position: absolute;
    height: 100%;
    background-color: #0275d8;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    border: solid black;
}
.textOnBar {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.energyIndicator {
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

    z-index: 1;

    margin-top: 100%;
    transform: rotatex(180deg);
    transform-origin: top;
}

.energyBar {
    position: relative;
    width: 34px;
    height: 34px;
    background-color: rgba(6, 20, 54, 0.301);

    z-index: 2;

    overflow: hidden;

    border: 1.5px solid black;
    border-radius: 50%;

    font-size: 0.78rem;
    color: white;
    font-weight: bold;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    @include energyGlow;
}

//single pvp styles
.results {
    background-color: $primary-color;
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);

    height: fit-content;
}

.maximizer {
    border-radius: 4px;
    border: 1px solid #59698d;
}

.pokemon {
    width: 13em;
    text-align: center;
    &.large {
        width: 100% !important;
    }
}

.rateSquare {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    display: inline-block;
    width: fit-content;
    border-radius: 4px;

    border: 1px solid black;

    color: white;
    font-weight: bold;
    font-size: 110% !important;
    &.hover:hover {
        user-select: none;
        background-color: white !important;
    }
    &.P {
        margin-left: 3px;
        margin-right: 3px;
    }
}

//matrix triple style
.tripleWidth {
    min-width: 70px !important;
}

.matrixTriple {
    font-weight: 500;
    min-width: 70px !important;
    max-width: 80px !important;
    border: 1.5px solid $dark-color;
    border-radius: 3px;
    overflow: hidden;
}
.matrixTriple a:first-child {
    border-right: 1.5px solid $dark-color !important;
    &.hover:hover {
        background-color: white !important;
    }
}
.matrixTriple a:nth-child(2) {
    border-right: 1.5px solid $dark-color !important;
    &.hover:hover {
        background-color: white !important;
    }
}
.matrixTriple a:nth-child(3) {
    &.hover:hover {
        background-color: white !important;
    }
}
.matrixTriple div:last-child {
    border-top: 1.5px solid $dark-color !important;
    user-select: none;
}

//border styles
.modifiedBorder {
    border-width: 0.8px !important;
    border-color: $slider-button !important;
}

.tableBorder {
    border-width: 1.2px !important;
    border-color: $slider-button !important;
    &.theadT {
        background-color: $primary-color;
        font-size: 80%;
        font-weight: bold;
    }
}

//overflow styles
.overflowing {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    max-width: 100vw !important;
}

.overflowingy {
    overflow-x: hidden;
    overflow-y: auto !important;
}

.overflowingx {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.overflowingxy {
    overflow-x: auto !important;
    overflow-y: auto !important;
    width: 100% !important;
}

.height400resp {
    max-height: 483px !important;
}

@media (max-width: 877px) {
    .height400resp {
        max-height: 85vh !important;
    }
}

.btn.btn-primary {
    background: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4 !important;
    border-radius: 5px !important;
    border: none !important;
    color: #ffffff !important;
}

//buttons
//matrix panel, matrix-redact, matrix-save
.matrixButton.btn.btn-primary.btn-sm {
    margin-top: 0rem !important;
    width: fit-content !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    font-size: 0.75rem !important;
}

//maximizer equalsized
.maximizerButton.btn.btn-primary.btn-sm {
    margin-top: 0rem !important;
    width: 45% !important;
    padding-left: 0.85rem !important;
    padding-right: 0.85rem !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    font-size: 0.65rem !important;
}

//long button
.longButton.btn.btn-primary.btn-sm {
    margin-top: 0rem !important;
    max-width: fit-content !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;

    font-size: 0.75rem !important;
    //fixed size option
    &.fix {
        min-width: 345px !important;
    }
}

//fake button
.langButton {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0.1em;

    background-color: transparent;
    border: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

//news style
.newsTitle {
    background-color: #958ff1;
    background-image: linear-gradient(#97aaff, #8198fd, #778ffa);
    width: 100%;

    color: white;
    font-weight: bold;
    font-size: 3rem;

    padding-left: 1rem;
    padding-right: 0.5rem;

    border-radius: 2px 2px 0px 0px;
    border: 1.2px solid #748dfa;
}

.newsBody {
    background-color: $primary-color;
    border-radius: 4px;
}

.singleNews {
    border-radius: 4px;
    background-color: $primary-color;
    border: 1px solid #acacac;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.matrixColor {
    background-color: $primary-color;
}

//sticky styles
.tableFixHead {
    overflow-y: auto;
    height: 100px;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}
.fixFirstRow {
    position: sticky;
    left: 0;
    background-color: $primary-color;
    z-index: 1;
}

//icons sizes
.icon16 {
    width: 16px;
    height: 16px;
}

.icon18 {
    width: 18px;
    height: 18px;
}

.icon24 {
    width: 24px;
    height: 24px;
}

.icon36 {
    width: 36px;
    height: 36px;
}

.icon48 {
    width: 48px;
    height: 48px;
}

.icon64 {
    width: 64px;
    height: 64px;
}

//pok card
.cardHeader {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.295);
}

.pokCard {
    border: 0.5px solid rgba(0, 0, 0, 0.295);
    border-radius: 6px;
    background-color: $tertiary-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    &.raid {
        max-width: 200px !important;
    }
    &.eggs {
        max-width: 170px !important;
    }
}

.cardBody {
    max-width: 143px !important;
    font-size: 14px;
    font-weight: 400;

    .eggs {
        max-width: 113px !important;
    }
}

.bubbleText {
    border: 0.5px solid rgba(0, 0, 0, 0.295);
    border-radius: 6px;

    text-align: justify !important;
    text-justify: inter-word !important;

    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-width: 320px;

    &.long {
        max-width: 500px !important;
    }
}

//advisor
.posAbs {
    position: absolute !important;
    right: 0px;
}

.posAbsR {
    position: absolute !important;
    right: -15px;
    top: -7px;
}

.posAbsB {
    position: absolute !important;
    bottom: 25px;
}

.posRel {
    position: relative;
}

//width
.max650 {
    max-width: 650px !important;
}

.max1000 {
    max-width: 1000px !important;
}

.max1200 {
    max-width: 1200px !important;
}
.max1200-1 {
    max-width: 1230px !important;
}

.width90vw {
    max-width: 90vw !important;
}

.max600 {
    max-width: 600px !important;
}
.max110 {
    max-width: 110px !important;
}
.w70 {
    min-width: 60px !important;
    max-width: 60px !important;
}

//separator style
.capsSeparator {
    font-size: 1.7rem !important;
    font-weight: 600 !important;
    color: white;
    -webkit-text-stroke: 1px black;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
}
.separator::before {
    margin-right: 0.25em;
}
.separator::after {
    margin-left: 0.25em;
}

//animations
.animShiny,
.animRating {
    -webkit-transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animShiny::after,
.animRating::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.animRating:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
.animShiny:hover {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
}

.animShiny:hover::after,
.animRating:hover::after {
    opacity: 1;
    display: block;
}

// other styles
.clickable {
    cursor: pointer;
}

.noselect {
    user-select: none;
}

.fBolder {
    font-weight: bolder;
}

.borderTop {
    border-top: 1px solid rgba(0, 0, 0, 0.295);
}

.labelPrepend {
    background-color: $tertiary-color !important;
}

//rating style
.styleRating {
    background-color: $secondary-color;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.295);
    height: fit-content;
}

//links
.link {
    color: $link-color !important;
    &:hover {
        text-decoration: underline;
    }
}

//slider
.sliderButton {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);

    padding-left: 5px !important;
    padding-right: 5px !important;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

    border-width: 0px 2px 0px 0px;
    border-right: solid $slider-button;

    &.active {
        background-color: $slider-active;
        outline: none;
    }
    &.hv:hover {
        background-color: $slider-active;
        outline: none;
    }
}
@media (max-width: 768px) {
    .sliderButton {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
@media (max-width: 576px) {
    .sliderButton {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
.sliderButton:focus {
    outline: none;
}

.sliderGroup {
    overflow: hidden;
    border: 2px solid $slider-button !important;
    border-radius: 7px 7px 7px 7px;
}

.sliderGroup button:last-child {
    border: none !important;
}

.sliderGroup a:last-child {
    border: none !important;
}
