$slider-button: #59698d;

.user-active-party {
    min-height: 62px !important;
    max-height: 250px !important;

    border: 1px solid $slider-button;
    border-radius: 5px;

    overflow-y: auto;
}

.user-active-party__title {
    font-weight: 400 !important;
    font-size: 13pt !important;
}
