$dark-color: #42434e;
$slider-button: #59698d;

.triplepvp-cell {
    min-width: 70px !important;
    border-width: 1.2px !important;
    border-color: $slider-button !important;
    font-size: 80% !important;
}

.triplepvp-cell__content {
    font-weight: 500;
    min-width: 70px !important;
    max-width: 80px !important;
    border: 1.5px solid $dark-color;
    border-radius: 3px;
    overflow: hidden;
}

.triplepvp-cell__content a:first-child {
    border-right: 1.5px solid $dark-color !important;
}

.triplepvp-cell__content a:nth-child(2) {
    border-right: 1.5px solid $dark-color !important;
}

.triplepvp-cell__content a:first-child:hover,
.triplepvp-cell__content a:nth-child(2):hover,
.triplepvp-cell__content a:nth-child(3):hover {
    background-color: white !important;
}

.triplepvp-cell__content div:last-child {
    border-top: 1.5px solid $dark-color !important;
    user-select: none;
}
