$slider-button: #59698d;
$primary-color: #eff0f1;

.table-wrapper {
    thead {
        tr {
            th {
                border-width: 1.2px !important;
                border-color: $slider-button !important;
                background-color: $primary-color;
                font-size: 80%;
                font-weight: bold;
                background-color: $primary-color;
            }
        }
    }
    tbody {
        tr {
            th {
                border-width: 1.2px !important;
                border-color: $slider-button !important;
                background-color: $primary-color;
                font-size: 80%;
                font-weight: bold;
                background-color: $primary-color;
            }
            td:first-of-type {
                font-weight: bold;
                background-color: $primary-color;
            }
            td {
                border-width: 1.2px !important;
                border-color: $slider-button !important;
                font-weight: bolder;
                font-size: 80%;
                background-color: $primary-color;
            }
        }
    }
}
