$slider-button: #59698d;
$slider-active: #b1dbe2;

.single-slidergroup {
    overflow: hidden;
    border: 2px solid $slider-button !important;
    border-radius: 7px 7px 7px 7px;
}

.single-slidergroup button:last-child {
    border: none !important;
}

.single-slidergroup a:last-child {
    border: none !important;
}

.single-sliderbutton {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);

    padding-left: 5px !important;
    padding-right: 5px !important;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

    border-width: 0px 2px 0px 0px;
    border-right: solid $slider-button;

    outline: none !important;

    &.active {
        background-color: $slider-active;
    }
}
@media (max-width: 768px) {
    .single-sliderbutton {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
@media (max-width: 576px) {
    .single-sliderbutton {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
