$slider-button: #59698d;

.upokcard {
    background-color: white;

    padding-left: 3px;
    padding-right: 3px;

    border-radius: 3px;
    border: 1px solid $slider-button !important;
    font-weight: bold;
    
    cursor: pointer;
}