$button-active: #01b0cf;

.add-row {
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;

    i {
        &:hover {
            & + .add-row__line {
                visibility: visible;
            }
        }
    }
}

.add-row__line {
    visibility: hidden;
    height: 3px;

    margin-left: 10px;
    margin-right: 10px;

    border-radius: 2px;
    border: 2px solid $button-active;
    background-color: $button-active;

    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
