$slider-button: #59698d;
$slider-active: #b1dbe2;

.type-row__icon {
    width: 16px;
    height: 16px;
}

.typeslider-group {
    overflow: hidden;
    border: 2px solid $slider-button !important;
    border-radius: 7px 7px 7px 7px;
}

.typeslider-group button:last-child {
    border: none !important;
}

.typeslider-group a:last-child {
    border: none !important;
}

.typeslider-group__button {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);

    padding-left: 5px !important;
    padding-right: 5px !important;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

    border-width: 0px 2px 0px 0px;
    border-right: solid $slider-button;

    &.active {
        background-color: $slider-active;
        outline: none;
    }
}
@media (max-width: 768px) {
    .typeslider-group__button {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
@media (max-width: 576px) {
    .typeslider-group__button {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
.typeslider-group__button:focus {
    outline: none;
}
