$link-color: #0039e6;

.ooops__link--text {
    text-decoration: none;
    color: black;
    &:hover {
        color: $link-color;
        text-decoration: underline;
        cursor: pointer;
    }
}
