.short-move {
    font-weight: bolder;
    padding: 0rem 0.2rem 0rem 0.2rem !important;
    border-radius: 5px;
    &.short-move--margin{
        font-weight: inherit;
        margin: 0.2rem 0.2rem 0.2rem 0.2rem !important;
    }
}