//type colors
$bug-color: #a8b820;
$dark-color: #42434e;
$dragon-color: #7038f8;
$electric-color: #ffcc00;
$fairy-color: #ee99ac;
$figting-color: #c02038;
$fire-color: #ff9933;
$flying-color: #78c8e4;
$ghost-color: #7546bb;
$grass-color: #78c850;
$ground-color: #b17d4a;
$ice-color: #98d8d8;
$normal-color: #9f9f9a;
$poison-color: #a040a1;
$psychic-color: #fe6688;
$rock-color: #adad85;
$steel-color: #496d92;
$water-color: #3590d1;

@mixin effects {
    &.attack {
        filter: drop-shadow(0px 0px 4px rgba(255, 0, 0, 0.753)) !important;
    }
    &.defence {
        filter: drop-shadow(0px 0px 4px rgba(24, 39, 248, 0.753)) !important;
    }
    &.attackdefence {
        filter: drop-shadow(0px 0px 4px rgb(255, 166, 0)) !important;
    }
}

@mixin fills {
    &0 {
        fill: $bug-color !important;
        @include effects;
    }
    &1 {
        fill: $dark-color !important;
        @include effects;
    }
    &2 {
        fill: $dragon-color !important;
        @include effects;
    }
    &3 {
        fill: $electric-color !important;
        @include effects;
    }
    &4 {
        fill: $fairy-color !important;
        @include effects;
    }
    &5 {
        fill: $figting-color !important;
        @include effects;
    }
    &6 {
        fill: $fire-color !important;
        @include effects;
    }
    &7 {
        fill: $flying-color !important;
        @include effects;
    }
    &8 {
        fill: $ghost-color !important;
        @include effects;
    }
    &9 {
        fill: $grass-color !important;
        @include effects;
    }
    &10 {
        fill: $ground-color !important;
        @include effects;
    }
    &11 {
        fill: $ice-color !important;
        @include effects;
    }
    &12 {
        fill: $normal-color !important;
        @include effects;
    }
    &13 {
        fill: $poison-color !important;
        @include effects;
    }
    &14 {
        fill: $psychic-color !important;
        @include effects;
    }
    &15 {
        fill: $rock-color !important;
        @include effects;
    }
    &16 {
        fill: $steel-color !important;
        @include effects;
    }
    &17 {
        fill: $water-color !important;
        @include effects;
    }
}

.timeline-generator__sword {
    width: 11px;
    height: 11px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    &:hover {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
}

.timeline-generator__dsword {
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    &:hover {
        -webkit-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
}

.timeline-generator__shield {
    fill: rgb(0, 0, 0);
    width: 20px;
    height: 20px;

    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    &hover {
        -webkit-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
}

.timeline-generator__faint {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}

.timeline-generator__idle {
    margin: auto;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: grey;

    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    &:hover {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
}

.timeline-generator--fill {
    @include fills;
}
